/* Main */
.container-items {
    margin-top: 15vh;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 20px;
}

.item {
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.item img {
    width: 100%;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
    transition: transform 0.3s ease;
}

.item:hover img {
    transform: scale(1.1);
}

.info-product {
    padding: 15px;
    text-align: center;
}

.btn-info,
button {
    width: calc(100% - 20px); /* Reducir el ancho en 20px para ajuste */
    background-color: #333;
    color: white;
    border: none;
    cursor: pointer;
    padding: 12px 24px; /* Aumentar el padding para hacer los botones un poco más grandes */
    margin-bottom: 8px; /* Reducir el margen inferior para una separación mínima entre botones */
}

.btn-info:hover,
button:hover {
    background-color: #555;
}

/* Estilos para el modal */
.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Fondo semi-transparente */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999; /* Z-index alto para asegurar que esté por encima de todo */
}

.modal-content {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    max-width: 80%; /* Tamaño máximo del modal */
    max-height: 80%;
    overflow: auto; /* Habilitar el scrolling si el contenido es largo */
    position: relative;
    text-align: center; /* Centrar el contenido */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.modal-content img {
    width: auto; /* Ancho automático para mostrar la imagen completa */
    max-height: 80vh; /* Altura máxima relativa al tamaño de la pantalla */
    object-fit: contain; /* Ajustar la imagen dentro del contenedor */
    border-radius: 10px; /* Redondear las esquinas de la imagen */
    margin-bottom: 20px; /* Espacio inferior entre la imagen y el texto */
}

.modal-content h3 {
    font-size: 48px; /* Tamaño de fuente aumentado para el título */
    font-weight: 900; /* Grosor de la fuente (más grueso) */
    color: #000; /* Color negro */
    letter-spacing: 1px; /* Espaciado entre letras */
    margin-bottom: 10px; /* Espacio inferior */
}

.modal-content p {
    font-size: 24px; /* Tamaño de fuente aumentado para la descripción */
    line-height: 1.6; /* Espaciado entre líneas */
    color: #333; /* Color de texto gris oscuro */
    margin-bottom: 20px; /* Espacio inferior */
}

.close {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    font-size: 24px;
    color: #333;
}

/* Ajustes específicos para el botón y el nombre del perro */
.btn-info {
    font-size: 16px; /* Ajustar tamaño de fuente */
}

.info-product h3 {
    color: #000;
    font-weight: bold;
}